.top
  .top__title
    スマホゲーム『バンドリ！ガールズバンドパーティ！』における
    フリーライブの選曲をサポートするアプリです！
  .top__message
    皆さんは、楽曲選びに困ったことはありませんか？
    %br
    次何やろう？と悩み、長々と楽曲一覧をスクロールした経験があるのではないですか？
    %br
    そんなあなたのために条件に合わせて自動で選曲します！

  まずは絞り込み検索してください
  %br
  チェックをしない場合はすべて選択になります

  = form_with(url: search_songs_path, local: true, method: :get) do |f|
    バンド
    = f.collection_check_boxes :band, Band.all, :id, :name, include_hidden: false
    %br
    難易度
    EXPERT
    = f.collection_check_boxes :expert, Song.group(:expert), :expert, :expert, include_hidden: false
    %br
    カテゴリ
    = f.collection_select :category, Category.all, :id, :name, prompt:"すべて"
    %br
    = f.submit "絞り込む"
