- @split_band.each do |n|
  = @bands.find(n).name
- if @split_expert.present?
  - @split_expert.each do |n|
    = n
- if @split_category.present?
  = @categorys.find(@split_category).name
＜楽曲一覧＞
.top__song__list--original
  %table{:border => "1"}
    %tr
      %th 曲名
      %th バンド名
      %th EASY
      %th NORMAL
      %th HARD
      %th EXPERT
      %th SPECIAL
      %th 配信日
      %th スタイル
    - @songs.each do |song|
      %tr
        %td #{song.title}
        %td #{song.band.name}
        %td #{song.easy}
        %td #{song.normal}
        %td #{song.hard}
        %td #{song.expert}
        %td #{song.special}
        %td #{song.delivery}
        %td #{song.category.name}
