.search
  .search__box
    %h1 絞り込み内容
    .search__box__list
      .search__box__list--title
        バンド
      .search__box__list--value
        - if @split_band.present?
          - @split_band.each do |n|
            = @bands.find(n).name
        -else
          全バンド

    .search__box__list
      .search__box__list--title
        難易度
      .search__box__list--value
        - if @split_expert.present?
          EXPERT
          - @split_expert.each do |n|
            = n
        - else
          指定なし

    .search__box__list
      .search__box__list--title
        カテゴリ
      .search__box__list--value
        - if @split_category.present?
          = @categorys.find(@split_category).name
        - else
          すべて
  - if @songs.present?
    .search__songs
      %h1 ランダム1曲
      :javascript
        function koshin(){
          location.reload();
        }
      %input{onclick: "koshin()", type: "button", value: "更新", class:"search__songs-random"}/

      - song = @songs.sample
      %table{border: "1", class: "table"}
        %tr
          %th 曲名
          %th バンド名
          %th EASY
          %th NORMAL
          %th HARD
          %th EXPERT
          %th SPECIAL
          %th 配信日
          %th カテゴリ
        %tr
          %td.table-title #{song.title}
          %td.table-band #{song.band.name}
          %td.table-level #{song.easy}
          %td.table-level #{song.normal}
          %td.table-level #{song.hard}
          %td.table-level #{song.expert}
          %td.table-level #{song.special}
          %td.table-delivery #{song.delivery}
          %td.table-category #{song.category.name}
    .search__songs
      %h1 ＜楽曲一覧＞
      %table{border: "1", class: "table"}
        %tr
          %th 曲名
          %th バンド名
          %th EASY
          %th NORMAL
          %th HARD
          %th EXPERT
          %th SPECIAL
          %th 配信日
          %th カテゴリ
        - @songs.each do |song|
          %tr
            %td.table-title #{song.title}
            %td.table-band #{song.band.name}
            %td.table-level #{song.easy}
            %td.table-level #{song.normal}
            %td.table-level #{song.hard}
            %td.table-level #{song.expert}
            %td.table-level #{song.special}
            %td.table-delivery #{song.delivery}
            %td.table-category #{song.category.name}
  - else
    %table{:border => "1"}
      %tr
        %th 曲名
        %th バンド名
        %th EASY
        %th NORMAL
        %th HARD
        %th EXPERT
        %th SPECIAL
        %th 配信日
        %th カテゴリ
    該当楽曲なし

